#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("OBRAS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($obra in $obras)
        <div class="col">
            <a class="obra" href="$WebPath.getOBRAS()$obra.getId()">
                <div class="obraCover">
                    
                </div>
                $msg.get("OBRAS_CAPTION", $obra.getTitulo(), $obra.getIsbn())
            </a>
        </div>
    #end
</div>
#end
